wheel==0.36.2
setuptools==39.0.1
pytest==6.2.2
pytest-env==0.6.2
setuptools-git-versioning==1.2.10
requests-mock==1.8.0
pytest-mock==3.5.1
pytest-cov==2.11.1
flake8==3.8.4
wheel-inspect==1.7.0
setuptools-databricks==0.2.0